LIST OF CONTENT - Grouping Data & Aggregating Variables_exercise

1. preparations
2. using group by function
3. defining max_order with .transorm(np.max)
4. deriving Columns with loc()

# 1. preparations

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path=r'/Users/ru/Desktop/CF/04 Achievement 4_Python'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path,
'02_Data','2.2 Prepared Data', 'ords_prods_merge_4.7.pkl'))

In [4]:
ords_prods_merge.shape

(32435070, 19)

In [5]:
df = ords_prods_merge[:500000]

In [6]:
df.shape

(500000, 19)

In [7]:
df.head(5)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,last_order (in days),add_to_cart_order,reordered,_merge,price_range_loc,busiest day,busiest days,Most Orders
0,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,28.0,6.0,11.0,3.0,5.0,0.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders
1,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,30.0,6.0,17.0,20.0,1.0,1.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders
2,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,2.0,0.0,21.0,6.0,20.0,0.0,both,Mid-range product,Busiest day,Busiest day,Most Orders
3,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,1.0,3.0,13.0,0.0,10.0,0.0,both,Mid-range product,Regularly busy,Least busy,Most Orders
4,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,3.0,4.0,17.0,9.0,11.0,1.0,both,Mid-range product,Least busy,Least busy,Most Orders

# 2. using group by function

In [8]:
df.groupby('product_name')

In [9]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.223975
2.0              20.661417
3.0              16.034001
4.0              17.778209
5.0              14.485852
6.0              16.803206
7.0              16.612238
8.0              14.843667
9.0              15.205376
10.0             19.764706
11.0             15.026107
12.0             13.946740
13.0             16.550862
14.0             17.779184
15.0             16.380913
16.0             17.412501
17.0             16.411833
18.0             20.069671
19.0             17.382129
20.0             15.584710
21.0             24.235622

In [11]:
df.groupby('department_id')['order_number'].mean()

department_id
1.0     15.223975
2.0     20.661417
3.0     16.034001
4.0     17.778209
5.0     14.485852
6.0     16.803206
7.0     16.612238
8.0     14.843667
9.0     15.205376
10.0    19.764706
11.0    15.026107
12.0    13.946740
13.0    16.550862
14.0    17.779184
15.0    16.380913
16.0    17.412501
17.0    16.411833
18.0    20.069671
19.0    17.382129
20.0    15.584710
21.0    24.235622
Name: order_number, dtype: float64

In [10]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
1.0              15.223975  1.0  99.0
2.0              20.661417  1.0  96.0
3.0              16.034001  1.0  99.0
4.0              17.778209  1.0  99.0
5.0              14.485852  1.0  99.0
6.0              16.803206  1.0  99.0
7.0              16.612238  1.0  99.0
8.0              14.843667  1.0  98.0
9.0              15.205376  1.0  99.0
10.0             19.764706  1.0  94.0
11.0             15.026107  1.0  99.0
12.0             13.946740  1.0  99.0
13.0             16.550862  1.0  99.0
14.0             17.779184  1.0  99.0
15.0             16.380913  1.0  99.0
16.0             17.412501  1.0  99.0
17.0             16.411833  1.0  99.0
18.0             20.069671  1.0  99.0
19.0             17.382129  1.0  99.0
20.0             15.584710  1.0  99.0
21.0             24.235622  1.0  98.0

# 3. defining max_order with .transorm(np.max)

In [11]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/ds/6109zp994ddgpkwq7qfc1y3c0000gp/T/ipykernel_78991/1681540670.py:1: FutureWarning: The provided callable <function max at 0x106172480> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

# 4. deriving Columns with loc()

In [12]:
# defining criteria for loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
ords_prods_merge.head(10)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,...,last_order (in days),add_to_cart_order,reordered,_merge,price_range_loc,busiest day,busiest days,Most Orders,max_order,loyalty_flag
0,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,28.0,6.0,...,3.0,5.0,0.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32.0,Regular customer
1,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,30.0,6.0,...,20.0,1.0,1.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32.0,Regular customer
2,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,2.0,0.0,...,6.0,20.0,0.0,both,Mid-range product,Busiest day,Busiest day,Most Orders,5.0,New customer
3,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,1.0,3.0,...,0.0,10.0,0.0,both,Mid-range product,Regularly busy,Least busy,Most Orders,3.0,New customer
4,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,3.0,4.0,...,9.0,11.0,1.0,both,Mid-range product,Least busy,Least busy,Most Orders,3.0,New customer
5,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1701441.0,777.0,16.0,1.0,...,26.0,7.0,0.0,both,Mid-range product,Regularly busy,Busiest day,Most Orders,26.0,Regular customer
6,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1871483.0,825.0,3.0,2.0,...,30.0,2.0,0.0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,9.0,New customer
7,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1290456.0,910.0,12.0,3.0,...,30.0,1.0,0.0,both,Mid-range product,Regularly busy,Least busy,Most Orders,12.0,Regular customer
8,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,369558.0,1052.0,10.0,1.0,...,19.0,1.0,0.0,both,Mid-range product,Regularly busy,Busiest day,Most Orders,20.0,Regular customer
9,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,589712.0,1052.0,15.0,1.0,...,15.0,2.0,1.0,both,Mid-range product,Regularly busy,Busiest day,Most Orders,20.0,Regular customer

In [16]:
# check results
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15891507
Loyal customer      10294027
New customer         6249525
NaN                       11
Name: count, dtype: int64

In [17]:
ords_prods_merge [['user_id', 'loyalty_flag', 'order_number']].head (60)

    user_id      loyalty_flag  order_number
0     138.0  Regular customer          28.0
1     138.0  Regular customer          30.0
2     709.0      New customer           2.0
3     764.0      New customer           1.0
4     764.0      New customer           3.0
5     777.0  Regular customer          16.0
6     825.0      New customer           3.0
7     910.0  Regular customer          12.0
8    1052.0  Regular customer          10.0
9    1052.0  Regular customer          15.0
10   1379.0      New customer           1.0
11   1480.0    Loyal customer          36.0
12   1480.0    Loyal customer          38.0
13   1480.0    Loyal customer          39.0
14   1494.0  Regular customer           6.0
15   1494.0  Regular customer           7.0
16   1494.0  Regular customer           9.0
17   1540.0  Regular customer           4.0
18   1540.0  Regular customer           5.0
19   1540.0  Regular customer           6.0
20   1540.0  Regular customer           7.0
21   1540.0  Regular customer           8.0
22   1540.0  Regular customer           9.0
23   1540.0  Regular customer          14.0
24   1540.0  Regular customer          15.0
25   1540.0  Regular customer          18.0
26   1540.0  Regular customer          19.0
27   1540.0  Regular customer          20.0
28   1540.0  Regular customer          21.0
29   1540.0  Regular customer          22.0
30   1540.0  Regular customer          24.0
31   1540.0  Regular customer          25.0
32   1540.0  Regular customer          27.0
33   1540.0  Regular customer          28.0
34   1598.0      New customer           1.0
35   1598.0      New customer           2.0
36   1598.0      New customer           3.0
37   1647.0      New customer           1.0
38   1647.0      New customer           4.0
39   1647.0      New customer           6.0
40   1647.0      New customer           8.0
41   1647.0      New customer           9.0
42   2833.0      New customer           1.0
43   2850.0  Regular customer           7.0
44   2857.0  Regular customer          24.0
45   3010.0  Regular customer           5.0
46   3029.0      New customer           1.0
47   3395.0      New customer           4.0
48   3904.0      New customer           1.0
49   4006.0    Loyal customer           2.0
50   4006.0    Loyal customer           3.0
51   4006.0    Loyal customer           5.0
52   4006.0    Loyal customer           9.0
53   4006.0    Loyal customer          12.0
54   4122.0  Regular customer          11.0
55   4141.0      New customer           2.0
56   4343.0      New customer           1.0
57   4553.0      New customer           3.0
58   4845.0  Regular customer           6.0
59   6866.0      New customer           1.0

In [18]:
# export notebook
ords_prods_merge.to_pickle(os.path.join(path, '02_Data','2.2 Prepared Data', 'ords_prods_merge_exercise.pkl'))